.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.principal--description{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.principal--description__title{
    font-size: 56px;
    color: var(--color_branco-bege);
}
.principal--description__text{
    font-size: 16px;
}
.principal--description__button{
    font-size: 18px;
    background: var(--background_button);
    padding: 7px 10px;
    border-radius: 8px;
    width: 30%;
}

.principal--description__button:hover{
    box-shadow: var(--sombra_button);
}
.img_hero{
    width: 30vw;
}
.dispositivos_paragrafo, .destaque_paragrafo{
    font-size: 2em;
    margin-top: 10%;
}
.dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
}
.lista_dispositivos, .lista_destaque{
    display: flex;
    gap: 50px;
}
.item_dispositivos{
    width: 250px;
    height: 250px;
    padding: 1em;
    background-color: var(--background_card);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
}

.item_destaque{
    width: 20em;
    height: 18em;
    background-color: var(--background_card);
    border-radius: 10px;
    box-sizing: border-box;
    
}
.item__img--destaque{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}
.item_destaque--texts{
    margin: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}
.item_titulo--destaque{
    font-size: 12px;
}
.item__img{
    width: 50px;
    height: 50px;
}
.item_titulo, .filme_paragrafo--destaque{
    font-size: 18px;
    font-weight: 400;
}
.item_paragrafo{
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.destaque{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
    gap: 100px;
}
.destaque__paragrafo{
    font-size: 3em;
    width: 40%;
}

/* SEÇÃO FILMES EM DESTAQUE */
.cabecalho--buttons__masuk--destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background: var(--background_button);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    position: absolute; /* Alteração aqui */
    margin-top: 50px;
}

.cabecalho--buttons__masuk--destaque:hover{
    box-shadow: var(--sombra_button);
}
.button--cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.filmes_destaque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .filmes_destaque__text{
    display: flex;
    justify-content: space-between;
    /* gap: 750px; */
    width: 60%;
}
.filme_paragrafo--destaque__container{
    display: inline;
    margin-left: -80px;
    /* margin-right: 150px; */
}
.filme_paragrafo--destaque{
    font-size: 45px;
    width: 500px;
}

.star{
    width: 25px;
    height: 25px;
}
.description--star{
    font-size: 10px;
}
.destaque__star{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lista_destaque{
    display: flex;
    justify-content: center;
}



